<div class="container">
  <div class="row justify-content-between">
    <div  *ngFor="let item of resultsList$ | async;" class="card col-3" style="width: 15rem">
      <div class="card">
        <img src="{{ item.image }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
        </div>
      </div>
      <a routerLink="/detail/{{ item.name }}" class="btn btn-dark btn-sm" style="margin-bottom: 5px;">See More</a>
    </div>
  </div>
</div>
