<div class="container" style="display: flex; justify-content: center;">
  <div style="width: 30rem">
    <div class="card">
      <img src="{{ rickmorty.image }}" class="card-img-top" />
      <div class="card-body">
        <h5>{{ rickmorty.name }}</h5>
        <div class="card-information">
          <p>Status: {{ rickmorty.status }}</p>
          <p>SPECIE: {{ rickmorty.species }}</p>
          <p>GENDER: {{ rickmorty.gender }}</p>
          <p>ORIGIN: {{ rickmorty.origin?.name }}</p>
          <p>LOCATION: {{ rickmorty.location?.name }}</p>
          <p>Created: {{ rickmorty.created }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
